* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/stairs_steps_facade_944485_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3)35%, rgba(0, 0, 0, 0.1)75%);
    height: 120px;
    border-radius: 20px;
}